
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
      </div>
      <div class="modal-body">
        <p>{{msg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>